/* Variables are needed for us to be able to
 change them with the help of JS. This one is used in switchHand  */
:root {
    --start-background-image: url("images/rock.png") ;
    --end-background-image: url("images/scissors.png");
    --compStart-background-image: url("images/rock_flipped.png");
    --compEnd-background-image: url("images/scissors_flipped.png");
    --buttonUnclickable-pointer-events: auto;
    --buttonStartAnimation-animation: none;
    --buttonStartAnimationDelay-animation-delay: none;
    --buttonColor-color: black;
}

/* animateButton 1s forwards */

@font-face {
    font-family: 'Badaboom';
    src: url('images/badaboom_font/badabb__-webfont.woff2') format('woff2'),
         url('images/badaboom_font/badabb__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* * {
    border: solid red 1px;
} */

body {
    background-color: #ffff00;
}

.scoreboard {
    font-family: Badaboom, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    background: rgb(255,255,0);
    background: linear-gradient(90deg, rgba(255,255,0,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 60%, rgba(255,255,0,1) 100%);
}

.scoreboard.score {
    gap: 150px;
    color: red;
    margin-top: 0px;
}

h1 {
    font-family: Badaboom, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    text-align: center;
    color: #000000;
} 

.header {
    height: 130px;
    margin-bottom: 50px;
}

#v {
    font-size: 30px;
}

@keyframes bounceAndRotate {
    0% {
      transform:rotate(15deg);
    }
    20% {
       transform:rotate(0deg);
    }
    40% {
        transform: rotate(15deg);
    }
    60% {
      transform: rotate(0deg);
    }
    80% {
        transform: rotate(15deg);
      }
    100% {
        transform: rotate(0deg);
      }
  }

  @keyframes bounceAndRotateComp {
    0% {
      transform:rotate(-15deg);
    }
    20% {
       transform:rotate(0deg);
    }
    40% {
        transform: rotate(-15deg);
    }
    60% {
      transform: rotate(0deg);
    }
    80% {
        transform: rotate(-15deg);
      }
    100% {
        transform: rotate(0deg);
      }
  }

  @keyframes switchHand {
    0% {
        background-image: var(--start-background-image);
    }
    100% {
        background-image: var(--end-background-image);
    }
  }

  @keyframes switchHandComp {
    0% {
        background-image: var(--compStart-background-image);
    }
    100% {
        background-image: var(--compEnd-background-image);
    }
  }

  .compAnimation {
    background-image: url("images/rock_flipped.png");
    background-position: right;
    background-repeat: no-repeat; 
    transform: rotate(-15deg);
    width: 491px;
    height: 77px;
  }

  .playerAnimation {
    background-image: url("images/rock.png");
    background-repeat: no-repeat; 
    transform: rotate(15deg); 
    width: 491px;
    height: 77px;
  }
  
/*   User playing need to rename */
  .playing {
    background-image: url("images/rock.png");
    background-repeat: no-repeat; 
    width: 491px;
    height: 77px;
    animation: bounceAndRotate 1.5s, switchHand 0.25s forwards;
    animation-delay: 0s, 1.5s;
  }

  .compPlaying {
    background-image: url("images/rock_flipped.png");
    background-repeat: no-repeat; 
    background-position: right;
    width: 491px;
    height: 77px;
    animation: bounceAndRotateComp 1.5s, switchHandComp 0.25s forwards;
    animation-delay: 0s, 1.5s;
  }

  .hands {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 100px;
    gap: 30px;
  }

  #playerSelection {
    display: flex;
    justify-content: center;
    margin: 50px;
  }

  button {
    font-family: Badaboom, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: var(--buttonColor-color);
    border-radius: 25px;
    background-color: red;
    border: none;
    width: 150px;
    margin-left: 10px;
    height: 80px;
    pointer-events: var(--buttonUnclickable-pointer-events);
    animation: var(--buttonStartAnimation-animation);
    animation-delay: var(--buttonStartAnimationDelay-animation-delay);
  }

  @keyframes animateButton {
    0% {
        
    }
    100% {
        background-color: red;
        margin-left: 0px;
        width: 160px;
        border-radius: 0px;
        
    }
  }

  @keyframes showResult {
    0% {
        color: red;
    }
    100% {
        color: white;
    }
  }