/* Variables are needed for us to be able to
 change them with the help of JS. This one is used in switchHand  */
:root {
    --start-background-image: url("images/rock.png") ;
    --end-background-image: url("images/scissors.png");
    --compStart-background-image: url("images/rock_flipped.png");
    --compEnd-background-image: url("images/scissors_flipped.png");
}

header { border:1px black solid; }

@keyframes bounceAndRotate {
    0% {
      transform:rotate(15deg);
    }
    20% {
       transform:rotate(0deg);
    }
    40% {
        transform: rotate(15deg);
    }
    60% {
      transform: rotate(0deg);
    }
    80% {
        transform: rotate(15deg);
      }
    100% {
        transform: rotate(0deg);
      }
  }

  @keyframes bounceAndRotateComp {
    0% {
      transform:rotate(-15deg);
    }
    20% {
       transform:rotate(0deg);
    }
    40% {
        transform: rotate(-15deg);
    }
    60% {
      transform: rotate(0deg);
    }
    80% {
        transform: rotate(-15deg);
      }
    100% {
        transform: rotate(0deg);
      }
  }

  @keyframes switchHand {
    0% {
        background-image: var(--start-background-image);
    }
    100% {
        background-image: var(--end-background-image);
    }
  }

  @keyframes switchHandComp {
    0% {
        background-image: var(--compStart-background-image);
    }
    100% {
        background-image: var(--compEnd-background-image);
    }
  }

  .compAnimation {
    background-image: url("images/rock_flipped.png");
    background-position: right;
    background-repeat: no-repeat; 
    transform: rotate(-15deg);
    width: 491px;
    height: 77px;
  }

  .playerAnimation {
    background-image: url("images/rock.png");
    background-repeat: no-repeat; 
    transform: rotate(15deg); 
    width: 491px;
    height: 77px;
  }
  
/*   User playing need to rename */
  .playing {
    background-image: url("images/rock.png");
    background-repeat: no-repeat; 
    width: 491px;
    height: 77px;
    animation: bounceAndRotate 1.5s, switchHand 0.25s forwards;
    animation-delay: 0s, 1.5s;
  }

  .compPlaying {
    background-image: url("images/rock_flipped.png");
    background-repeat: no-repeat; 
    background-position: right;
    width: 491px;
    height: 77px;
    animation: bounceAndRotateComp 1.5s, switchHandComp 0.25s forwards;
    animation-delay: 0s, 1.5s;
  }

  .hands {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  #playerSelection {
    display: flex;
    justify-content: center;
    margin: 50px;
  }